<h2 class="prescription-title">Prescriptions</h2>
<div class="search-container">
<div class="search-criteria">
  <label>
    <input type="radio" name="searchType" value="id" [(ngModel)]="searchType"> Search by ID
  </label>
  <label>
    <input type="radio" name="searchType" value="date" [(ngModel)]="searchType"> Search by Date
  </label>
  <label>
    <input type="radio" name="searchType" value="doctorName" [(ngModel)]="searchType"> Search by Doctor Name
  </label>
</div>
  <input type="text" class="search-bar" placeholder="Search for a prescription" [(ngModel)]="searchTerm" (input)="filterPrescriptions()">
</div>

<div class="not-found" *ngIf="filteredPrescriptions.length === 0">
  No prescriptions found for this patient.
</div>

<!-- Contenedor de los Prescription  -->
<div class="prescription-card-container" *ngIf="filteredPrescriptions.length > 0">
  <div class="prescription-card" *ngFor="let prescription of filteredPrescriptions">
    <div class="prescription-card__content">
      <button class="prescription-card__button" (click)="viewPrescriptionDetails(prescription.id)">
        View Prescription: {{ prescription.doctor_id }}
      </button>
      <div class="prescription-card__details">
        <p><strong>Date:</strong> {{ prescription.date_prescriptions }}</p>
        <p><strong>Doctor:</strong> {{ prescription.doctor?.name }} ({{ prescription.doctor?.specialty }})</p>
      </div>
    </div>
  </div>
</div>
