<h2>List of Patients</h2>
<!-- Barra de búsqueda -->
<div class="search-container">
  <input type="text" class="search-bar" placeholder="Search for a patient" [(ngModel)]="searchTerm" (input)="filterPatients()">
</div>

<div class="not-found" *ngIf="filteredPatients.length === 0">
  No Patient found.
</div>

<app-add-prescription></app-add-prescription>

<div class="patient-card-container" *ngIf="filteredPatients.length > 0">
  <article class="card" *ngFor="let patient of filteredPatients">
    <div class="card__content">
      <h2 class="card__title">{{ patient.name }}</h2>
      <p>Age: {{ patient.age }}</p>
      <button class="card__button" (click)="selectPatient(patient.id)">View Details</button>
    </div>
  </article>
</div>



