<!-- <h2>List of Patients</h2>
<div *ngIf="patients.length === 0">
  No Patient found.
</div>
<ul *ngIf="patients.length > 0">
  <li *ngFor="let patient of patients">
    <button (click)="selectPatient(patient.id)">
      {{ patient.name }}
    </button>
  </li>
</ul> -->

<h2>List of Patients</h2>

<!-- Barra de búsqueda -->
<div class="search-container">
  <input type="text" class="search-bar" placeholder="Search for a patient">
</div>

<div *ngIf="patients.length === 0">
  No Patient found.
</div>

<div class="patient-card-container" *ngIf="patients.length > 0">
  <article class="card" *ngFor="let patient of patients">
    <div class="card__content">
      <h2 class="card__title">{{ patient.name }}</h2>
      <p>Age: {{ patient.age }}</p>
      <button class="card__button" (click)="selectPatient(patient.id)">View Details</button>
    </div>
  </article>
</div>



